* {
    box-sizing: border-box;
}
body {
    width: 60%;
    margin: 0 auto;
    background-color: #43C6D0;
}
body > h1, p {
    text-align: center;
    font-family: 'Nunito', sans-serif;
}
input[type=text], input[type=email], input[type=number], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
.row {
    padding-bottom: 5px;
}
.col-25 > label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    width: 100%;
    text-align: right;
}
.col-75 > label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    text-align: left;
}
input[type=submit] {
    background-color: #153D40;
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
input[type=submit]:hover {
    background-color: #29797F;
}
.container {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
}
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
    font-family: 'Nunito', sans-serif;
}
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
    font-family: 'Raleway', sans-serif;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    body {
        width: 90%;
    }
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
    .col-25 > label {
        text-align: left;
    }
}